.amount-row {
    width: 100%;
    text-align: start;
    margin-left: .5em;
    margin-top: .5em;
}
.amount-row > * + * {
    margin: 0 .5em;
}
.amount-row > button {
    cursor: pointer;
    width: 30px;
    height: 20px;
}
.amount-row > button:disabled {
    cursor: not-allowed;
    opacity: .5;
}